# Introduction 

In the following notebook, I will be cleaning the energy_dataset.csv file located [here](https://github.com/KishenSharma6/Weather-Energy-Consumption-in-Spain/tree/master/Data/01_Raw_Data)

**Read in libraries for notebook**

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Set notebook preferences**

In [36]:
#Set preferences for pandas 
pd.set_option("display.max_columns", 101)

#Set style for visualizations
plt.style.use('Solarize_Light2')

**Read in data**

In [37]:
#Set path to raw data
path = r'C:\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Spain Hourly Energy Demand and Weather'

#Read in raw data
df = pd.read_csv(path + '/Data/01_Raw_Data/energy_dataset.csv')

# Data Overview

**Data Preview**

In [38]:
#Print df shape
print('Shape of data:', df.shape)

#View head
df.head()

Shape of data: (35064, 29)

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation marine,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,NaN,863.0,1051.0,1899.0,0.0,7096.0,43.0,73.0,49.0,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,NaN,920.0,1009.0,1658.0,0.0,7096.0,43.0,71.0,50.0,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,NaN,1164.0,973.0,1371.0,0.0,7099.0,43.0,73.0,50.0,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,NaN,1503.0,949.0,779.0,0.0,7098.0,43.0,75.0,50.0,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,NaN,1826.0,953.0,720.0,0.0,7097.0,43.0,74.0,42.0,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [39]:
df.describe()

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation marine,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
count,35045.000000,35046.000000,35046.0,35046.000000,35046.000000,35045.000000,35046.0,35046.0,35046.0,0.0,35045.000000,35045.000000,35046.000000,35045.0,35047.000000,35046.000000,35046.000000,35046.000000,35045.000000,35046.0,35046.000000,35064.000000,0.0,35064.000000,35064.000000,35028.000000,35064.000000,35064.000000
mean,383.513540,448.059208,0.0,5622.737488,4256.065742,298.319789,0.0,0.0,0.0,NaN,475.577343,972.116108,2605.114735,0.0,6263.907039,60.228585,85.639702,1432.665925,269.452133,0.0,5464.479769,1439.066735,NaN,5471.216689,28712.129962,28696.939905,49.874341,57.884023
std,85.353943,354.568590,0.0,2201.830478,1961.601013,52.520673,0.0,0.0,0.0,NaN,792.406614,400.777536,1835.199745,0.0,839.667958,20.238381,14.077554,1680.119887,50.195536,0.0,3213.691587,1677.703355,NaN,3176.312853,4594.100854,4574.987950,14.618900,14.204083
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,237.000000,18105.000000,18041.000000,2.060000,9.330000
25%,333.000000,0.000000,0.0,4126.000000,2527.000000,263.000000,0.0,0.0,0.0,NaN,0.000000,637.000000,1077.250000,0.0,5760.000000,53.000000,73.000000,71.000000,240.000000,0.0,2933.000000,69.000000,NaN,2979.000000,24793.750000,24807.750000,41.490000,49.347500
50%,367.000000,509.000000,0.0,4969.000000,4474.000000,300.000000,0.0,0.0,0.0,NaN,68.000000,906.000000,2164.000000,0.0,6566.000000,57.000000,88.000000,616.000000,279.000000,0.0,4849.000000,576.000000,NaN,4855.000000,28906.000000,28901.000000,50.520000,58.020000
75%,433.000000,757.000000,0.0,6429.000000,5838.750000,330.000000,0.0,0.0,0.0,NaN,616.000000,1250.000000,3757.000000,0.0,7025.000000,80.000000,97.000000,2578.000000,310.000000,0.0,7398.000000,2636.000000,NaN,7353.000000,32263.250000,32192.000000,60.530000,68.010000
max,592.000000,999.000000,0.0,20034.000000,8359.000000,449.000000,0.0,0.0,0.0,NaN,4523.000000,2000.000000,9728.000000,0.0,7117.000000,106.000000,119.000000,5792.000000,357.000000,0.0,17436.000000,5836.000000,NaN,17430.000000,41390.000000,41015.000000,101.990000,116.800000

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [41]:
df.isna().sum()

time                                               0
generation biomass                                19
generation fossil brown coal/lignite              18
generation fossil coal-derived gas                18
generation fossil gas                             18
generation fossil hard coal                       18
generation fossil oil                             19
generation fossil oil shale                       18
generation fossil peat                            18
generation geothermal                             18
generation hydro pumped storage aggregated     35064
generation hydro pumped storage consumption       19
generation hydro run-of-river and poundage        19
generation hydro water reservoir                  18
generation marine                                 19
generation nuclear                                17
generation other                                  18
generation other renewable                        18
generation solar                                  18
generation waste                                  19
generation wind offshore                          18
generation wind onshore                           18
forecast solar day ahead                           0
forecast wind offshore eday ahead              35064
forecast wind onshore day ahead                    0
total load forecast                                0
total load actual                                 36
price day ahead                                    0
price actual                                       0
dtype: int64

# Data Cleaning

**Columns**
- Drop NAN and 0 cols
- Remove total load forecast

In [42]:
#Drop nan cols
df.dropna(axis =1, inplace= True,thresh=1)

#Subset price_day_ahead to write to a CSV file. We'll try to outperform these predictions when modeling
price_forecast = df['price day ahead']

#Drop forecast variables
drop = df.filter(regex='ahead|forecast').columns
df.drop(drop, axis = 1, inplace =True)

#Drop cols with only 1 unique value in column
df = df.loc[:,df.apply(pd.Series.nunique) != 1]

#Check
display(df.head())

,time,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,total load actual,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,25385.0,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,24382.0,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,22734.0,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0,21286.0,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0,20264.0,56.04

**Missing Values**

In [43]:
#Capture rows with at least one missing value and assign to missing
missing = df[df.isnull().any(axis=1)]

#View missing and number of rows with missing data
print('Number of missing rows: {}\nTotal % missing from data {}%'.format(len(missing),round(len(missing)/len(df),4) * 100))
display(missing)

Number of missing rows: 46
Total % missing from data 0.13%

,time,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,total load actual,price actual
99,2015-01-05 03:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21182.0,59.68
108,2015-01-05 12:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.14
109,2015-01-05 13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.95
110,2015-01-05 14:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.93
111,2015-01-05 15:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.50
112,2015-01-05 16:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.85
113,2015-01-05 17:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.53
451,2015-01-19 19:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39304.0,88.95
452,2015-01-19 20:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39262.0,87.94
643,2015-01-27 19:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38335.0,83.97
661,2015-01-28 13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.62
751,2015-02-01 07:00:00+01:00,449.0,312.0,4765.0,5269.0,222.0,480.0,980.0,1174.0,7101.0,44.0,75.0,48.0,208.0,3289.0,NaN,16.98
752,2015-02-01 08:00:00+01:00,453.0,312.0,4938.0,5652.0,288.0,0.0,1031.0,3229.0,7099.0,44.0,75.0,73.0,207.0,3102.0,NaN,19.56
753,2015-02-01 09:00:00+01:00,452.0,302.0,4997.0,5770.0,296.0,0.0,1083.0,4574.0,7097.0,43.0,71.0,809.0,204.0,2838.0,NaN,23.13
756,2015-02-01 12:00:00+01:00,405.0,317.0,5247.0,6008.0,333.0,0.0,1119.0,4416.0,7095.0,42.0,72.0,3817.0,200.0,1413.0,NaN,22.51
757,2015-02-01 13:00:00+01:00,402.0,317.0,5449.0,6005.0,318.0,0.0,1171.0,4475.0,7096.0,41.0,73.0,3836.0,193.0,1347.0,NaN,23.44
758,2015-02-01 14:00:00+01:00,400.0,317.0,5266.0,5995.0,327.0,0.0,1216.0,4412.0,7098.0,42.0,79.0,3701.0,199.0,1345.0,NaN,24.10
759,2015-02-01 15:00:00+01:00,393.0,321.0,5209.0,5939.0,345.0,0.0,1204.0,3403.0,7097.0,41.0,79.0,3475.0,204.0,1487.0,NaN,21.12
760,2015-02-01 16:00:00+01:00,413.0,325.0,5642.0,6000.0,345.0,0.0,1193.0,3333.0,7097.0,40.0,77.0,2742.0,203.0,1648.0,NaN,21.73
761,2015-02-01 17:00:00+01:00,465.0,321.0,6127.0,5912.0,346.0,0.0,1214.0,4684.0,7096.0,41.0,77.0,1281.0,207.0,1857.0,NaN,25.93
762,2015-02-01 18:00:00+01:00,482.0,326.0,7386.0,6002.0,340.0,0.0,1299.0,6187.0,7095.0,41.0,79.0,328.0,208.0,1864.0,NaN,54.13
763,2015-02-01 19:00:00+01:00,474.0,326.0,7963.0,6026.0,343.0,0.0,1313.0,6895.0,7096.0,42.0,82.0,161.0,207.0,1813.0,NaN,68.53
2258,2015-04-05 03:00:00+02:00,371.0,0.0,5015.0,3248.0,257.0,799.0,1233.0,2531.0,4027.0,81.0,67.0,31.0,142.0,3153.0,NaN,29.04
2528,2015-04-16 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.55
2623,2015-04-20 08:00:00+02:00,424.0,642.0,5614.0,5784.0,369.0,0.0,1122.0,4050.0,6954.0,41.0,62.0,636.0,147.0,797.0,NaN,72.92
2708,2015-04-23 21:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.57
2913,2015-05-02 10:00:00+02:00,497.0,0.0,5502.0,5677.0,375.0,0.0,1425.0,5289.0,6353.0,93.0,72.0,2535.0,205.0,10903.0,NaN,59.09
3554,2015-05-29 03:00:00+02:00,569.0,756.0,4239.0,4635.0,365.0,755.0,667.0,1277.0,5035.0,85.0,69.0,662.0,201.0,6503.0,NaN,55.07
3968,2015-06-15 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30047.0,73.82
6583,2015-10-02 08:00:00+02:00,483.0,961.0,6545.0,8250.0,385.0,0.0,1323.0,5378.0,7013.0,87.0,70.0,140.0,205.0,4362.0,NaN,70.13
6586,2015-10-02 11:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.49
8049,2015-12-02 09:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.44
11236,2016-04-13 05:00:00+02:00,220.0,0.0,3390.0,1242.0,243.0,2270.0,1622.0,4515.0,7097.0,53.0,69.0,150.0,NaN,8596.0,23614.0,25.14
11524,2016-04-25 05:00:00+02:00,190.0,0.0,2969.0,886.0,151.0,1340.0,1564.0,5389.0,7094.0,50.0,59.0,454.0,195.0,5989.0,NaN,22.65
11526,2016-04-25 07:00:00+02:00,206.0,0.0,3673.0,1143.0,185.0,162.0,1648.0,6807.0,7095.0,51.0,62.0,283.0,214.0,5682.0,NaN,40.18
11902,2016-05-10 23:00:00+02:00,348.0,960.0,6800.0,5219.0,299.0,0.0,443.0,1750.0,7002.0,50.0,91.0,58.0,280.0,3311.0,NaN,39.11
12672,2016-06-12 01:00:00+02:00,356.0,595.0,5719.0,6165.0,274.0,382.0,NaN,1325.0,5056.0,56.0,86.0,30.0,291.0,2019.0,24155.0,48.72
13341,2016-07-09 22:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6923.0,NaN,NaN,NaN,NaN,NaN,NaN,51.72
13391,2016-07-12 00:00:00+02:00,346.0,595.0,5951.0,6131.0,NaN,494.0,709.0,1215.0,5058.0,49.0,83.0,31.0,309.0,2031.0,25103.0,47.49
15272,2016-09-28 09:00:00+02:00,347.0,594.0,5522.0,6272.0,292.0,0.0,524.0,2494.0,6997.0,61.0,86.0,982.0,300.0,5478.0,NaN,56.40
15982,2016-10-27 23:00:00+02:00,351.0,554.0,7176.0,5690.0,321.0,NaN,417.0,1295.0,6967.0,58.0,91.0,70.0,299.0,3193.0,26583.0,62.84
16612,2016-11-23 04:00:00+01:00,NaN,900.0,4838.0,4547.0,269.0,1413.0,795.0,435.0,5040.0,60.0,85.0,15.0,227.0,4598.0,23112.0,49.11
25164,2017-11-14 12:00:00+01:00,0.0,0.0,10064.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,66.17
25171,2017-11-14 19:00:00+01:00,0.0,0.0,12336.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,75.45
30185,2018-06-11 18:00:00+02:00,331.0,506.0,7538.0,5360.0,300.0,1.0,1134.0,4258.0,5856.0,52.0,96.0,170.0,269.0,9165.0,NaN,64.93
30896,2018-07-11 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.79

*Resolve Missing Values*

In [44]:
#Apply forward and back fill
df = df.ffill().bfill()

#Check
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [time, generation biomass, generation fossil brown coal/lignite, generation fossil gas, generation fossil hard coal, generation fossil oil, generation hydro pumped storage consumption, generation hydro run-of-river and poundage, generation hydro water reservoir, generation nuclear, generation other, generation other renewable, generation solar, generation waste, generation wind onshore, total load actual, price actual]
Index: []

**Clean time data**

In [45]:
#Remove +01:00
df.time.replace('[+].*','', inplace=True,regex=True)

#Rename dt_iso to time and set type
df.rename(columns = {'time':'date_time'}, inplace = True)

#Set date_time as index
df.set_index('date_time', inplace=True)

#Check
display(df.head(3))

,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,total load actual,price actual
date_time,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,25385.0,65.41
2015-01-01 01:00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,24382.0,64.92
2015-01-01 02:00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,22734.0,64.48

# Write file to CSV

We're also going to remove the price forecast column(price_day_ahead) and save it to another CSV file. We'll use this file later as a benchmark to try and outperfrom when we build our models.

In [47]:
#Set paths
df_path = r'C:\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Spain Hourly Energy Demand and Weather\Data'
price_forecast_path= r'C:\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Spain Hourly Energy Demand and Weather\Data'

#Write to CSV
df.to_csv(df_path + '/02_Cleaned_Data/2020_0620_Cleaned_Energy_Dataset.csv')
price_forecast.to_csv(price_forecast_path + '/03_Processed_Data/2020_0620_Data_Price_Forecasts.csv')